<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TurtleApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurtleApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.turtleteam.ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TurtleApp"
            android:launchMode="singleInstance"
            android:allowTaskReparenting="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.turtleteam.widget_schedule.schedule_select.ScheduleSelectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true">
        </activity>

        <service
            android:name="com.turtleteam.notification_service.NotificationService"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_logo" />
        </service>

        <service
            android:name="com.turtleteam.widget_schedule.service.ScheduleViewService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.turtleteam.widget_schedule.widgetprovider.ScheduleWidgetProvider"
            android:exported="true"
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_logo"
            android:enabled="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_metadata" />
        </receiver>
    </application>
</manifest>